body{
    font-family: 'Chakra Petch', sans-serif;
}

aside{
    width: 30%;
    height: 100vh;
    background-color: #202020;
    overflow-y: auto;
}

aside header h1{
    color: snow;
    text-align: center;
    font-size: 48px;
}

aside section h2{
    color: snow;
    text-align: center;
    font-size: 28px;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
}

aside section p{
    color: snow;
    text-align: center;
    font-size: 22px;
}

aside img{
    border-radius: 30%;
    width: 400px;
    margin-left: 150px;
    margin-top: 60px;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 30%;
    margin-top: -1345px;
}

main h2{
    font-size: 48px;
    color: rgb(0, 0, 0);
    border-bottom: 5px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

main h3{
    font-size: 28px;
    color: #464141;
    font-style: oblique;
}

main p{
    font-size: 22px;
    margin: 10px;
    line-height: 1.6;
    color: #333;
}

main a{
    color: #202020;
    font-size: 36px;
    margin-top: 10px;
    text-decoration: none;
}

.skill-rating-container{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.skill-rating{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-rating p{
    font-size: 30px;
    margin: 0 10px 0 0;
}

.skill-rating .fa{
    font-size: 22px;
    margin: 0 5px;
    color: lightgray;
}

.skill-rating .checked{
    color: black;
}